{
    "plugins": ["prettier-plugin-tailwindcss"],
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "arrowParens": "avoid",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "semi": true,
    "quoteProps": "as-needed",
    "trailingComma": "all",
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "proseWrap": "preserve",
    "insertPragma": false,
    "printWidth": 80,
    "requirePragma": false,
    "embeddedLanguageFormatting": "auto"
}
