@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Outfit:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*********************** SHADCN START ************************/
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
/************************ SHADCN END ************************/

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Outfit', sans-serif;
  min-height: 100vh;
  position: relative;
  background-color: #222;
}

a {
  font-family: inherit;
  text-decoration: none;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.25);
}

/******************************************
    REACT-SLICK CAROUSEL STYLING START
******************************************/
/* Slick Styling */
.slick-prev::before,
.slick-next::before {
  color: #000 !important;
  display: none !important;
}
/* REACT-SLICK CAROUSEL STYLING END */

/********************************************************
    GLASS STYLING FOR FLOATER SELECTION IN ONBOARDING
*********************************************************/
.glass {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0px 24px 52px -14px rgba(0, 0, 0, 0.6);
}

/************************
     LOADING SPINNER
*************************/
.spinner_container {
  position: relative;
  padding-right: 1rem;
  width: 1.2rem;
  height: 1.2rem;
}

.spinner_item:first-child {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  animation: spinner-spin 1s ease infinite;
  border-style: solid;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-width: 3px;
  border-bottom-color: rgb(112, 112, 112);
}

.spinner_item {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  opacity: 0.8;
  animation: spinner-spin 1s ease 0.1s infinite;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-width: 3px;
  border-style: dotted;
  border-bottom-color: rgb(112, 112, 112);
}

@keyframes spinner-spin {
  0% {
    transform: rotate(0turn);
  }

  100% {
    transform: rotate(1turn);
  }
}

.spinner_item--warning:first-child,
.spinner_item--warning {
  border-bottom-color: rgb(0, 112, 240);
}

/***********************************************************
    CUSTOM RADIO BUTTON STYLING for create-community page 
***********************************************************/
#private:checked + .radio,
#public:checked + .radio {
  @apply border-none bg-primary;
}

/************************************
 Fade Effect on Banner for communities
*************************************/
.bg-custom-gradient {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.0005) 0%,
    rgba(34, 34, 34, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.0005) 0%,
    rgba(34, 34, 34, 1) 100%
  );
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.0005) 0%, rgba(34, 34, 34, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#222222",GradientType=1);
}

/***************************************
    DROPDOWN SEARCH COMBOBOX STYLING
****************************************/
.collapsible-dropdown {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 300ms ease-in-out;
  opacity: 0;
  overflow: hidden;
}

.dropdown-content {
  overflow: hidden;
}

.dropdown-active {
  grid-template-rows: 1fr;
  opacity: 1;
}
